In [1]:
#Import Libraries
import requests
import pandas as pd

In [2]:
url = "https://fantasy.premierleague.com/api/bootstrap-static/"

In [3]:
#request packagae to make GET request from the API endpoint
r = requests.get(url)

In [4]:
#transform request variable to a JSON object
json = r.json()

In [5]:
json.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [6]:
#Build a Dataframe
elements_df = pd.DataFrame(json['elements'])

In [7]:
#Checking the columns
elements_df.columns

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text'],
      dtype='object')

In [8]:
#Getting the required metrics for analysis
red_elements_df = elements_df[['team','id','first_name','second_name','web_name','element_type','now_cost','status','selected_by_percent']]

In [9]:
red_elements_df.head()

,team,id,first_name,second_name,web_name,element_type,now_cost,status,selected_by_percent
0,1,1,Mesut,Özil,Özil,3,69,a,1.1
1,1,2,Sokratis,Papastathopoulos,Sokratis,2,50,i,0.1
2,1,3,David,Luiz Moreira Marinho,David Luiz,2,55,a,0.8
3,1,4,Pierre-Emerick,Aubameyang,Aubameyang,3,120,a,46.3
4,1,5,Cédric,Soares,Cédric,2,49,a,0.4

In [10]:
#Map Element type to actual position of the players
red_elements_df['element_type']=red_elements_df['element_type'].map({4:'Forward', 3:'Midfielder', 2:'Defender', 1:'Goalkeeper'})

<ipython-input-10-c4de8600179d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  red_elements_df['element_type']=red_elements_df['element_type'].map({4:'Forward', 3:'Midfielder', 2:'Defender', 1:'Goalkeeper'})

In [11]:
#Map team id to actual team names
red_elements_df['team']=red_elements_df['team'].map({1:'Arsenal',2:'Aston Villa',3:'Brighton',4:'Burnely',5:'Chelsea',6:'Palace',7:'Everton',8:'Fulham',9:'Leicester',10:'Leeds',11:'Liverpool',12:'City',13:'United',14:'Newcastle',15:'Sheffield',16:'Southampton',17:'Spurs',18:'West Brom',19:'West Ham',20:'Wolves'})

<ipython-input-11-a44bd9f52c78>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  red_elements_df['team']=red_elements_df['team'].map({1:'Arsenal',2:'Aston Villa',3:'Brighton',4:'Burnely',5:'Chelsea',6:'Palace',7:'Everton',8:'Fulham',9:'Leicester',10:'Leeds',11:'Liverpool',12:'City',13:'United',14:'Newcastle',15:'Sheffield',16:'Southampton',17:'Spurs',18:'West Brom',19:'West Ham',20:'Wolves'})

In [12]:
#Get the actual value of the players
red_elements_df['now_cost']=red_elements_df['now_cost']/10

<ipython-input-12-c59f99c4d829>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  red_elements_df['now_cost']=red_elements_df['now_cost']/10

In [13]:
red_elements_df.head()

,team,id,first_name,second_name,web_name,element_type,now_cost,status,selected_by_percent
0,Arsenal,1,Mesut,Özil,Özil,Midfielder,6.9,a,1.1
1,Arsenal,2,Sokratis,Papastathopoulos,Sokratis,Defender,5.0,i,0.1
2,Arsenal,3,David,Luiz Moreira Marinho,David Luiz,Defender,5.5,a,0.8
3,Arsenal,4,Pierre-Emerick,Aubameyang,Aubameyang,Midfielder,12.0,a,46.3
4,Arsenal,5,Cédric,Soares,Cédric,Defender,4.9,a,0.4

In [14]:
#Renaming the column names
red_elements_df.columns =['Team','Player id','First_Name', 'Second_name', 'Display_Name', 'Position', 'Value', 'Status', 'Selected_By_percent']

In [15]:
red_elements_df['Selected_By_percent'] = red_elements_df.Selected_By_percent.astype(float)

<ipython-input-15-a358787a346c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  red_elements_df['Selected_By_percent'] = red_elements_df.Selected_By_percent.astype(float)

In [16]:
#Converting Datframe to Excel File
red_elements_df.to_excel("FPLData.xlsx")